
.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

h1 {
    color: #4c5C68;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 75px;
}

.entry-form {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.date {
    padding:20px;
    display:inline-block;
    display:inline;
    zoom:1.0;
    vertical-align:middle;
    width: 50%;
    background-color: #a0b9bf;
    margin-top: 10px;
}

.concepts {
    padding:20px;
    display:inline-block;
    display:inline;
    zoom:1.0;
    vertical-align:middle;
    width:50%;
    background-color: #a0b9bf;
    margin-top: 10px;
}

.entry {
    padding:20px;
    display:inline-block;
    display:inline;
    zoom:1.0;
    vertical-align:middle;
    width:50%;
    background-color: #a0b9bf;
    margin-top: 10px;
}

.mood {
    padding:20px;
    display:inline-block;
    display:inline;
    zoom:1.0;
    vertical-align:middle;
    width:50%;
    background-color: #a0b9bf;
    margin-top: 10px;
}

.submitButton {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    justify-content: center;
    padding: 30px;
}
