html {
    background-color: #bcd4de;
    border: 5px solid #9dacb2;
}

h1 {
    color: #4c5C68;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 75px;
}

.entry-form {
    text-align: center;
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    justify-content: center;
}

.date {
    background-color: #a0b9bf;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.concepts {
    background-color: #a0b9bf;
    display: flex;
    flex-direction: column;
    
}

.entry {
    background-color: #a0b9bf;
    display: flex;
    flex-direction: column;
    
}

.mood {
    background-color: #a0b9bf;
    display: flex;
    flex-direction: column;
}

.submitButton {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    justify-content: center;
    padding: 30px;
}
 